<div class="principal-container">
    <div class="card skills">
        <div class="container">
            <div class="section-content pt-0">
                
                <div class="row">
                    <div class="col-md-6" data-aos="fade-right">
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>HTML5</p>
                                <p class="text" style="color: #fff;">90%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 90%"></div>
                            </div>
                              
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>CSS3</p>
                                <p class="text">80%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>JavaScript</p>
                                <p class="text">35%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 35%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Librería QT y QT Designer</p>
                                <p class="text">50%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 50%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Bases de datos SQL</p>
                                <p class="text">80%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>GIT</p>
                                <p class="text">40%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 40%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Java</p>
                                <p class="text">60%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 60%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Python</p>
                                <p class="text">60%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 60%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Servicios de Azure</p>
                                <p class="text">40%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 40%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                        <!-- Skill Item -->
                        <div class="skill-item">
                            <div class="d-flex justify-content-between">
                                <p>Administración de Redes</p>
                                <p class="text">40%</p>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                <div class="progress-bar" style="width: 40%"></div>
                            </div>
                        </div>
                        <!-- End Skill Item -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="card info">
        <h2>Un poco sobre mí</h2>
        <p>
            Mi nombre es Álvaro Isaías Espíndola Torres, tengo 21 años y soy de Tlalnepantla Morelos. Actualmente me encuentro cursando la carrera de Ingeniería en Sistemas Computacionales en el Intituto Tecnológico de Cuautla. Cuento con conocimientos en distintas disciplinas del área, además de algunas certificaciones, siendo la más destacable la AZ-900 de Microsoft.
        </p>

    </div>

    <div class="card abilities">
        <h2>Habilidades personales</h2>
        <ul>
            <li class="abilities-item">
                <div class="abilitie">
                    Responsable
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-watch" viewBox="0 0 16 16">
                        <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z"/>
                        <path d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
                    </svg>
                </div>
            </li>
            <li class="abilities-item">
                <div class="abilitie">
                    Trabajo en equipo
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                </div>
            </li>
            <li class="abilities-item">
                <div class="abilitie">
                    Organizado
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                        <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </div>
            </li>
            <li class="abilities-item">
                <div class="abilitie">
                    Creativo
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
                        <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"/>
                    </svg>
                </div>
            </li>
            <li class="abilities-item">
                <div class="abilitie">
                    Detallista
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-paint-bucket" viewBox="0 0 16 16">
                        <path d="M6.192 2.78c-.458-.677-.927-1.248-1.35-1.643a2.972 2.972 0 0 0-.71-.515c-.217-.104-.56-.205-.882-.02-.367.213-.427.63-.43.896-.003.304.064.664.173 1.044.196.687.556 1.528 1.035 2.402L.752 8.22c-.277.277-.269.656-.218.918.055.283.187.593.36.903.348.627.92 1.361 1.626 2.068.707.707 1.441 1.278 2.068 1.626.31.173.62.305.903.36.262.05.64.059.918-.218l5.615-5.615c.118.257.092.512.05.939-.03.292-.068.665-.073 1.176v.123h.003a1 1 0 0 0 1.993 0H14v-.057a1.01 1.01 0 0 0-.004-.117c-.055-1.25-.7-2.738-1.86-3.494a4.322 4.322 0 0 0-.211-.434c-.349-.626-.92-1.36-1.627-2.067-.707-.707-1.441-1.279-2.068-1.627-.31-.172-.62-.304-.903-.36-.262-.05-.64-.058-.918.219l-.217.216zM4.16 1.867c.381.356.844.922 1.311 1.632l-.704.705c-.382-.727-.66-1.402-.813-1.938a3.283 3.283 0 0 1-.131-.673c.091.061.204.15.337.274zm.394 3.965c.54.852 1.107 1.567 1.607 2.033a.5.5 0 1 0 .682-.732c-.453-.422-1.017-1.136-1.564-2.027l1.088-1.088c.054.12.115.243.183.365.349.627.92 1.361 1.627 2.068.706.707 1.44 1.278 2.068 1.626.122.068.244.13.365.183l-4.861 4.862a.571.571 0 0 1-.068-.01c-.137-.027-.342-.104-.608-.252-.524-.292-1.186-.8-1.846-1.46-.66-.66-1.168-1.32-1.46-1.846-.147-.265-.225-.47-.251-.607a.573.573 0 0 1-.01-.068l3.048-3.047zm2.87-1.935a2.44 2.44 0 0 1-.241-.561c.135.033.324.11.562.241.524.292 1.186.8 1.846 1.46.45.45.83.901 1.118 1.31a3.497 3.497 0 0 0-1.066.091 11.27 11.27 0 0 1-.76-.694c-.66-.66-1.167-1.322-1.458-1.847z"/>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</div>
