*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-container{
    display: flex;
    height: 100vh;
    background: #202123;
}

.container{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background: transparent;
    border: none;
    height: 60%;
    width: 60%;
}

.btn:hover > a > img{
    width: 60%;
}

.btn img{
    width: 40%;
    transition: all 1s;
}