.principal-container-abilities{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-family: monospace;
}

.card{
    width: 360px;
    height: 75%;
    background: #000;
    border-radius: 5%;
    color: #fff;
    -webkit-box-shadow: 12px 9px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 9px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 12px 9px 33px -17px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
}


.info{
    text-align: center;
}

.info h2{
    color: #7BF;
    font-size: 25px;
}

.abilities{
    text-align: center;
}
.abilities ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.abilities ul > li{
    display: flex;
}
.abilities h2{
    font-size: 25px;
    color: #0f0;
}
.abilities-item{
    text-decoration: none;
    text-align: left;
    list-style: none;
}
.abilities-item svg{
    margin-left: 10px;
}
.abilitie{
    width: 50%;
}
