.principal-container{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}
button{
    height: 50px;
    width: 210px;
    background-color: #66f;
    border: none;
}
a{
    color: #fff;
    text-decoration: none;
}