.container-certifications{
    height: 100vh; 
    color: #fff;
}

.certifications{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 94vh;
}

.certifications-item{
    display: flex;
    align-items: center;
    height: 580px;
}
h1{
    position: relative;
    top: 10%;
    text-align: center;
}