
.container-principal{
    height: 100vh;
    background: #242424;
    color: #ffffff;
}

.container__profile{
    height: 50vh;
}
.container__cards{
    height: 50vh;
}
.container__certifications{
    background: #242424;

}
