.container-certifications{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    
}
.certifications-item{
    height: 400px;
    min-width: 700px;
    max-width: 800px;
}

.card-item img{
    height: 360px;
    width: 500px;
    object-fit: scale-down;
    transition: all 1s;
}

.card-item img:hover{
    width: 600px;
    height: 380px;
    cursor: all-scroll;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}