<div class="principal-container">
    <div class="avatar-container">
        <div class="avatar-container__myphoto">
            <img src="../../../assets/photo.jpeg" alt="">
        </div>
        <div class="avatar-container__framework">
            <img src="../../../assets/angular.svg" alt="">
        </div>
    </div>

    <div class="social-media">
        <a href="" target="_blank"><img src="../../../assets/facebook.png" alt="" class="social-media-icon"></a>
        <a href=""><img src="../../../assets/instagram.png" alt="" class="social-media-icon"></a>
        <a href="https://github.com/AlvaroTorres0?tab=stars"><img src="../../../assets/github.png" alt="" class="social-media-icon"></a>
        <a href="www.linkedin.com/in/alvaro-isaias-espindola-torres" target="_blank"><img src="../../../assets/linkedin.png" alt="" class="social-media-icon"></a>
        <a href="https://learn.microsoft.com/es-es/users/alvarotorres/" target="_blank"><img src="../../../assets/microsoft.png" alt="" class="social-media-icon"></a>
    </div>

    <div class="container-name">
        <h1>Álvaro Isaías Espíndola Torres</h1>
    </div>
</div>
