*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal-container{
    height: 50vh;
    /* background: #202123; */
}

.avatar-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.avatar-container__myphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: #202123;
    border-radius: 50%;

}
.avatar-container__myphoto img{
    width: 60%;
    height: 80%;
    border-radius: 50%;
}
.avatar-container__framework{
    position: absolute;
    width: 200px;
    height: 200px;
}

.social-media{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.social-media-icon{
    width: 40px;
    height: 40px;
    transition: all .2s;
}
.social-media-icon:hover{
    width: 45px;
    height: 45px;
}

.container-name{
    font-family: monospace;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}